.hero {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero__background-hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}

.hero__background-iceland {
  background-image: url(../assets/Images/iceland.jpg);
}

.hero__background-greece {
  background-image: url(../assets/Images/greece.jpg);
}

.hero__title {
  font-size: 3rem;
  text-align: left;
  color: #ffffff;
  padding-left: 70px;
  margin-top: 0;
  padding-top: 108px;
}

.card {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 370px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.card__title {
  font-size: 1rem;
  text-align: center;
  border-bottom: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.card__list {
  list-style-type: none;
  text-align: center;
  padding-left: 0%;
  text-align: center;
}

.card__list-item {
  background-color: #fefaf5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 18px;
}

.card__container {
  display: flex;
  justify-content: space-around;
  padding-left: 165px;
  padding-right: 165px;
}