.hero {
  background-color: #fefaf5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__image {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__content {
  width: 40%;
}

.hero__title {
  color: #335576;
  text-align: left;
  font-size: 2rem;
}

.hero__subtitle {
  color: #335576;
  font-size: 0.8rem;
}

.button {
  background-color: #db7a4e;
  border: 0px;
  border-radius: 30px;
  text-align: center;
  padding: 10px 40px 10px 40px;
  color: white;

}

.recomandation {
  padding: 70px;
}

.card__heading {
  color: #335576;
}

.card {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 370px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.card__align {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 115px;
}

.card__img-hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}

.card__img-iceland {
  background-image: url(../assets/Images/iceland.jpg);
}

.card__img-greece {
  background-image: url(../assets/Images/greece.jpg);
}

.card__text {
  text-align: right;
  color: white;
  padding-top: 315px;
  padding-right: 20px;
}